<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<style>
		form > * {
			display: block;
			margin-top: 10px;
		}
	</style>
</head>
<body>
<form>
	<label>
		<input type="text" required>
	</label>
	<label>
		<input type="password" required>
	</label>
	<label>
		<input type="number" required>
	</label>
	<label>
		<input type="range" min="1" max="15" step="3">
	</label>
	<label>
		<input type="checkbox">
	</label>

	<label>
		<input type="radio" name="cpd">
	</label>
	<label>
		<input type="radio" name="cpd">
	</label>
	<button>Create</button>
</form>

</body>
</html>
