<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h1>It works!</h1>
<h2>My name is {{ name }}</h2>
<form method="post" action="/cities/create/">
    <input name="name" />
    <input name="name" />
    {% csrf_token %}
    <button>Create</button>
</form>
<ul>
    {% for person in people %}
     <li>{{ person.name }}, {{ person.age }}, {{ person.home_town }}</li>
    {% endfor %}
</ul>
</body>
</html>
